.cart {
  border: 1px solid rgba(0, 0, 0, 0.123);
  border-radius: 5px;

}
button {
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
button:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
input {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.255);
}
