<div class="container mt-5">
  <div class="text-center">
    <button class="btn btn-primary mb-2 " (click)="showesales()">Sales</button>
    <button class=" btn btn-success mb-2" (click)="showeproducts()">Add Products</button>
    <button class="btn btn-danger mb-2" (click)="deleteProduct()">Delete Products</button>
    <button class="btn btn-dark mb-2" (click)="showeubdateproducts()">Ubdate Products</button>
  </div>
</div>

<app-sales *ngIf="showeSales"></app-sales>
<app-addproducts *ngIf="showeProducts"></app-addproducts>
<app-ubdate-products *ngIf="ubdateProducts"></app-ubdate-products>
<app-delete-products *ngIf="deleteproduct"></app-delete-products>
